<div class="row">
    <div class="col-md-12">
        <div class="row-title">
            <h4>
                Business details
            </h4>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-element">
            <span>*</span>
            <input type="text" required class="form-control" placeholder="Business Name">
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-element">
            <span>*</span>
            <input type="text" required class="form-control" placeholder="BR number">
        </div>
    </div>


    <div class="col-md-12">
        <div class="form-element">
            <span>*</span>
            <textarea name="reason" required id="" cols="30" rows="10" class="form-control"
                placeholder="For the purpose of "></textarea>

        </div>
    </div>





</div>
<div class="row">
    <div class="col-md-12">
        <div class="row-title">
            <h4>
                Area / route
            </h4>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-element">
            <span>*</span>
            <select name="route" id="" class="form-control">
                <option value="-1">
                    - Select -
                </option>

                <option value="-1">
                    Colombo 01
                </option>
                <option value="-1">
                    Colombo 02
                </option>
                <option value="-1">
                    Colombo 03
                </option>
                <option value="-1">
                    Colombo 04
                </option>
                <option value="-1">
                    Colombo 05
                </option>
                <option value="-1">
                    Colombo 06
                </option>
                <option value="-1">
                    Colombo 06
                </option>
                <option value="-1">
                    Colombo 06
                </option>
                <option value="-1">
                    Colombo 06
                </option>
                <option value="-1">
                    Colombo 06
                </option>
            </select>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <div class="row-title">
            <h4>
                Upload / Attach proof documents
            </h4>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-element">
            <span>*</span>
            <button class="btn btn-secondary btn-file-upload">
                <input type="file">
                <i class="fa fa-upload"></i> BR Copy
            </button>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-element">
            <span>*</span>
            <button class="btn btn-secondary btn-file-upload">
                <input type="file">
                <i class="fa fa-upload"></i> Request letter
            </button>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-element">
            <span>*</span>
            <button class="btn btn-secondary btn-file-upload">
                <input type="file">
                <i class="fa fa-upload"></i>Employee list
            </button>
        </div>
    </div>

    <div class="col-md-12">
        <div class="alert alert-info">
            (Images - jpg, jpeg, png OR .pdf formats only & less than 5 MB)
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <div class="row-title">
            <h4>
                Pass duration
            </h4>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-element">
            <span>*</span>
            <div class="input-group">
                <input type="date" required class="form-control" placeholder="Date From">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-element">
            <span>*</span>
            <div class="input-group">
                <input type="date" required class="form-control" placeholder="Date To">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>