<header>

    <div class="container">

        <nav>
            <a class="navbar-brand" href="/">
                <img src="{{ assets }}svg/covid-logo.svg" alt=""> COVID-19 Situational Report - Sri Lanka
            </a>

            <!-- <a href="#" class="btn btn-link btn-secondary">
                Dashboard
            </a>
            <a href="#" class="btn btn-link btn-secondary">
                e-Curfew Pass
            </a>

            <div class="logged-in">
                <a href="#" class="btn btn-link btn-secondary">
                    Hello <span>Shan</span>
                </a>
            </div> -->
        </nav>


    </div>


</header>