---
layout : default.html
title : Forgot Password | Home
---



<section>


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card auth-card">
                    <a href="#" class="btn-link">Instructions </a>
                    <div class="card-header">
                        <img src="{{ assets }}images/sl_police_logo.png" alt="">
                        <h2 class="card-title">
                            e - Curfew Pass system - Sri Lanka
                            <span>
                                Sri Lanka Police
                            </span>
                        </h2>
                        <h3>
                            Forgot Password
                        </h3>
                    </div>

                    <div class="card-body">






                        <form action="">


                            <div class="form-element">
                                <input autofocus required class="form-control" type="text" name="username"
                                    placeholder="Email Address" />
                            </div>


                            <div class="form-element mb-2">
                                <button class="btn btn-primary">
                                    Send reset link
                                </button>
                            </div>

                            <div class="form-element d-flex justify-content-between">
                                <a href="/" class="btn-link btn-sm">
                                    Login
                                </a>
                                <a href="/register" class="btn-link btn-sm">
                                    Create an account
                                </a>
                            </div>

                        </form>

                    </div>

                    <div class="card-footer">
                        <p>
                            <small>
                                Sri Lanka Police, Information Technology Division,
                            </small>
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </div>




</section>